<div [formGroup]="statusForm">
    <h1>Processes status</h1>
    <div>
        <mat-form-field>
            <input matInput placeholder="name" formControlName="name" appearance="fill">
        </mat-form-field>
      
    </div>
   
    <div>
        <button class="btn btn-secondary ml-2" (click)="onCloseDialog()">Cancel</button>
        <button class="btn btn-success ml-2" (click)="create()" *ngIf="!data?.status; else editButton"><i
                class="fas fa-user-plus"style="background-color: #CC9752;"></i> Create Status
        </button>
        <ng-template #editButton>
            <button class="btn btn-success ml-2" (click)="edit()"><i class="fas fa-user-plus"style="background-color: #CC9752;"></i> Edit Status
            </button>
        </ng-template>
    </div>
</div>
