<nav class="navbar navbar-expand-sm navbar-light " >
  <div class="container">
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" >
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <i class="fa fa-tachometer-alt"></i>  <a (click)="changeMode(0)">{{ 'navbar.dashboard' | translate }}</a>
        </li>
        <li class="nav-item">
          <i class="fas fa-clipboard-list"></i><a (click)="changeMode(1)" >{{ 'navbar.processes' | translate }}</a>
        </li>
        <li class="nav-item">
          <i class="fas fa-exclamation-triangle"></i> <a (click)="changeMode(2)">{{ 'navbar.risks' | translate }}</a>
        </li>
        <li class="nav-item">
          <i class="fas fa-users-cog"></i> <a (click)="changeMode(3)">{{ 'navbar.settings' | translate }}</a>
        </li>
      </ul>
    </div>
  </div>
  
</nav>
