#edition{
    
    text-align: right;

    }
    #deletion{
  text-align: left;

    }
    @media (max-width: 250px) {
      table {
        width: 250px;
        display: block;
        overflow: scroll;
      }
     
  
    }