<div class="container ">
    <!-- Outer Row -->
    <div class="row justify-content-center">
  
      <div class="col-xl-10 col-lg-6 col-md-6">
  
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-3 d-none d-lg-block"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4 title">Reset your password for Risk Tracer!</h1>
                  </div>
                  <!-- Form for setting the new password -->
                  <form class="user " #authFormReset="ngForm" (ngSubmit)="onSubmit(authFormReset)">
                    
                    <div class="form-group input">
                        <input type="password" name="password1" ngModel name="password1"
                               class="form-control form-control-user"
                               id="password1" placeholder="Password" required minlength="6"/>
                    </div>
                    <div class="form-group input">
                        <input type="password" name="password2" ngModel name="password2"
                               class="form-control form-control-user"
                               id="password2" placeholder="Confirm password" required minlength="6"/>
                    </div>
                    
                    <button type="submit" [disabled]="!authFormReset.valid"
                            class="btn btn-info">Reset password</button>
                    <hr>
                  </form>

                  <hr>
                  <div class="text-center">
                    <a class="small" href="verify-token">Return</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  
  </div>
