<cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
    <div style="border:1px solid black; background-color: LightPink;" *cdkVirtualFor="let domain of processes">
        <div style="width: auto;">
            <h4>{{ domain.title }}</h4>
            <div class="container clearfix">
                <div class="floatLeft"
                    style=" background-color: beige; width: 45%; margin-left : 20px; margin-bottom: 20px;"
                    *ngFor="let process of domain?.children">
                    <h5>{{ process.title }}</h5>
                    <ul>
                        <li style="background-color: Azure;" *ngFor="let activity of process?.children">
                            {{ activity.title }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</cdk-virtual-scroll-viewport>
<br>
