<mat-grid-list cols="3" rowHeight="2:1" >
    <mat-tab-group mat-align-tabs="center" accessControl moduleType="Process" subModuleType="DICTIONARY" accessType="read">
      <mat-tab label="Process Types ">
         <app-process-types-management></app-process-types-management>
       </mat-tab>
      <mat-tab label="Players">
        <app-players-management></app-players-management>

       </mat-tab>
      <mat-tab label="I/Os">
    <app-io-management></app-io-management>
    </mat-tab>
      <mat-tab label="Process status">
          <app-status-process></app-status-process>
      </mat-tab>
    </mat-tab-group>
    
    
    
    
           
     