
<div class="container">
<div class="title">
<blockquote class="blockquote text-center">
    <h1>Administrative Settings</h1>
    <footer class="blockquote-footer"> <h3>Authentication Mode</h3></footer>
  </blockquote>



</div>



<mat-card class="card">
    <mat-card-header>
      <mat-card-title> Risk tracer offer to its users two modes of authentication.</mat-card-title>
      <mat-card-subtitle>Choose yours:</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="card-content">
        <mat-form-field appearance="fill">
            <mat-label>Authentication </mat-label>
            <mat-select>
            
                <mat-option value="LDAP"> with LDAP</mat-option>
                <mat-option value="DATABASE"> with DATABASE</mat-option>
        
            </mat-select>
          </mat-form-field>
    </mat-card-content>
    <mat-card-actions class="card-content">
      <button mat-button>SAVE</button>
      
    </mat-card-actions>
  </mat-card>

</div>
<!-- <div class="container">
    <div class="header">
        <h1>Administrative Settings</h1>
      </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Authentication Mode</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <p> Risk tracer offer to its users two modes of authentication. Choose yours:</p>
                </div>
                <div class="col-md-6">
                    <div class="box">
                        <select>
                            <option>Authentication with LDAP</option>
                            <option>Authentication with DATABASE</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
