
.btn-group{
   
    float:right;
}
#edition{
    
    text-align: right;

}
#deletion{
  text-align: left;

}


@media (max-width: 350px) {
  
  mat-card {
    width: 400px;
    display: block;
    overflow: scroll;
  }
}